@use '../utils' as u;

html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    color: white;
    font-family: u.$font;
    background-image: url('/src/image/background.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size:cover;
}