$light-white: rgba(217, 217, 217, 0.54);
$button: rgba(22, 80, 150, 0.61);
$glass: rgba($color: #000000, $alpha: 0.2);
$border-bottom: rgba(255, 255, 255, 0.48);
$input-border:  rgba(255, 241, 241, 1);
